.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.HeadLogo{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.App-header {
  background-color: #222;
  color: white;
  display: block;
  height: 100%;
  vertical-align: middle;
}

.App-intro {
    position:absolute;
    top: 20%;
    left: 40%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn-primary{
    font-weight: bold;
}

.appcore{
    margin-left: 10%;
    font-weight: bold;
}

.leafletmap {
    margin-top: 10px;
}

.leaflet-container {
    height: 900px;
    width: 1600px;
    margin: 0 auto;
}

.menu
{
  background-color: #00547E;
  border-bottom: 4px solid #04A3ED;
  width:auto;
  height: 100%;
  padding: 0 10px;
  position: fixed;
  margin: 0px;
  z-index: 1;
  opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
  background-color : #04A3ED;
  color: white;
  font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
  font-size: 13px;
  color: white;
  padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
  background-color: #04A3ED;
}

.navbar-header > a
{
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 5px 30px;
}
.navbar-header > a:hover
{
  text-decoration: none;
  color: #04A3ED;
}

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

